:root {
--color00: #CCCCCC;
--color01: #CCCCCC;
--color02: #CCCCCC;
--color03: #cccccc;
--color04: #ffffff;
--color05: #474747;
--color06: #ffffff;
--color07: #ffffff;
--color08: #3d3d3d;
--color09: #515151;
--color0A: #686868;
--color0B: #474747;
--color0C: #6f6f6f;
--color0D: #5b5b5b;
--color0E: #656565;
--color0F: #545454;
}
